<div>
    <div class="text-center">
        <img class="fi-photo-left" id="fi-photo-left" src="images/video-thumb/lilly.jpg">
        <iframe class="fi-left" id="fi-left" src="https://player.vimeo.com/video/380793256?color=ffffff&byline=0&portrait=0"
            width="470" height="270" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div id="fi-text-left" class="fi-text-left col-md-5 text-left">
        <h4 class="video-title"> Lilly - Bulgaria </h4>
        <h5 class="video-under-title ">director: Djordje Jovanovic <br> dop: Stefan Djordjevic <br> production: Ivan Radev Studio
        </h5>
    </div>
</div>
<div> 
    <div class="text-center">
        <img class="fi-photo-right" id="fi-photo-right" src="images/video-thumb/martin.jpg">
        <iframe class="fi-right" id="fi-right" src="https://player.vimeo.com/video/212569624?color=ffffff&byline=0&portrait=0"
            width="470" height="270" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div id="fi-text-right" class="fi-text-right text-left col-md-5">
        <h4 class="video-title"> Telenor - Martin </h4>
        <h5 class="video-under-title "> director: Ognjen Jankovic <br> dop: Stefan Djordjevic <br> editor: Marija Sarac <br> production: Emote productions
        </h5>
    </div>
</div>
<div>
    <div class="text-center">
    <img class="second-photo-left2" id="second-photo-left2" src="images/video-thumb/buzz.jpg">
    <iframe class="second-left2" id="second-left2" src="https://player.vimeo.com/video/218605020?color=ffffff&byline=0&portrait=0"
        width="470" height="270" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div id="second-text-left2" class="second-text-left2 text-left col-md-5">
    <h4 class="video-title"> Nectar - Buzz </h4>
    <h5 class="video-under-title "> director: Ognjen Jankovic <br> dop: Stefan Djordjevic <br> editor: Davor Bosankic <br> production: Tuna Fish Studio </h5>
    </div>
</div>
<div>
    <div class="text-center">
        <img class="second-photo-right2" id="second-photo-right2" src="images/video-thumb/neda.jpg">
        <iframe class="second-right2" id="second-right2" src="https://player.vimeo.com/video/232149801?color=ffffff&byline=0&portrait=0"
            width="470" height="270" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div id="second-text-right2" class="second-text-right2 text-left col-md-5">
        <h4 class="video-title"> Telenor - Neda </h4>
        <h5 class="video-under-title"> director: Ognjen Jankovic <br> dop: Stefan Djordjevic <br> editor: Marija Sarac <br> production: Emote productions </h5>
    </div>
</div>
<div>
    <div class="text-center">
    <img class="t-photo-left2" id="t-photo-left2" src="images/video-thumb/strast.jpg">
    <iframe class="t-left2" id="t-left2" src="https://player.vimeo.com/video/220273394?color=ffffff&byline=0&portrait=0"
        width="470" height="270" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div id="t-text-left2" class="t-text-left2 text-left col-md-5">
    <h4 class="video-title"> Telekom - Strast </h4>
    <h5 class="video-under-title "> director: Ognjen Jankovic <br> dop: Stefan Djordjevic <br> editor: Marija Sarac <br> production: Emote productions
    </h5> 
    </div>
</div>
<div>
    <div class="text-center">
        <img class="t-photo-right2" id="t-photo-right2" src="images/video-thumb/oral.jpg">
        <iframe class="t-right2" id="t-right2" src="https://player.vimeo.com/video/279078197?color=ffffff&byline=0&portrait=0"
            width="470" height="270" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div id="t-text-right2" class="t-text-right2 text-left col-md-5">
        <h4 class="video-title"> Oral-B </h4>
        <h5 class="video-under-title"> director, dop: Stefan Djordjevic <br> editor: Predrag Bogojevic <br> production: Top Cut </h5>
    </div>
</div>
<div>
    <div class="text-center">
    <img class="f-photo-left2" id="f-photo-left2" src="images/video-thumb/cricket.jpg">
    <iframe class="f-left2" id="f-left2" src="https://player.vimeo.com/video/374863522?color=ffffff&byline=0&portrait=0"
        width="470" height="270" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div id="f-text-left2" class="f-text-left2 text-left col-md-5">
    <h4 class="video-title"> HSBC Bank - Rugby Sevens Cricket </h4>
    <h5 class="video-under-title "> director: Djordje Jovanovic <br> dop: Stefan Djordjevic <br> production: What If Creative Studio </h5>
    </div>
</div>
<div>
    <div class="text-center">
        <img class="f-photo-right2" id="f-photo-right2" src="images/video-thumb/football.jpg">
        <iframe class="f-right2" id="f-right2" src="https://player.vimeo.com/video/374863527?color=ffffff&byline=0&portrait=0"
            width="470" height="270" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div id="f-text-right2" class="f-text-right2 text-left col-md-5">
        <h4 class="video-title"> HSBC Bank - Rugby Sevens Football </h4>
        <h5 class="video-under-title"> director: Djordje Jovanovic <br> dop: Stefan Djordjevic <br> production: What If Creative Studio </h5>
    </div>
</div>
<div>
    <div class="text-center">
        <img class="fifth-photo-left2" id="fifth-photo-left2" src="images/video-thumb/jelen.jpg">
        <iframe class="fifth-left2" id="fifth-left2" src="https://player.vimeo.com/video/297284235?color=ffffff&byline=0&portrait=0"
            width="470" height="270" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div id="fifth-text-left2" class="fifth-text-left2 text-left col-md-5">
        <h4 class="video-title"> Jelen - Ja zelim pivo </h4>
        <h5 class="video-under-title last-text"> director: Djordje Jovanovic <br> dop: Stefan Djordjevic <br> editor: Nikola Puric <br> production: Blekbuk </h5>
    </div>
</div>

<script src="scripts/commercial.js"></script>
<script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
