<div id="raka" class="text-center">
    <img class="first-photo-left" id="first-photo-left" src="images/video-thumb/martin.jpg">
    <iframe class="first-left" id="first-left" src="https://player.vimeo.com/video/212569624?color=ffffff&byline=0&portrait=0" width="470" height="270"
        frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <h5 id="first-text-left" class="first-text-left"> Telenor - Martin </h5> 
</div>
<div id="rada" class="text-center">
    <img class="first-photo-right" id="first-photo-right" src="images/video-thumb/strast.jpg">
    <iframe class="first-right" id="first-right" src="https://player.vimeo.com/video/220273394?color=ffffff&byline=0&portrait=0" width="470" height="270"
        frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <h5 id="first-text-right" class="first-text-right"> Telekom - Strast </h5> 
</div>
<div id="lada" class="text-center">
    <img class="second-photo-left" id="second-photo-left" src="images/video-thumb/buzz.jpg">
    <iframe class="second-left" id="second-left" src="https://player.vimeo.com/video/218605020?color=ffffff&byline=0&portrait=0" width="470" height="270"
        frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <h5 id="second-text-left" class="second-text-left"> Nectar - Buzz </h5> 
</div>
<div id="mada" class="text-center">
    <img class="second-photo-right" id="second-photo-right" src="images/video-thumb/neda.jpg">
    <iframe class="second-right" id="second-right" src="https://player.vimeo.com/video/232149801?color=ffffff&byline=0&portrait=0" width="470" height="270"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <h5 id="second-text-right" class="second-text-right"> Telenor - Neda  </h5> 
</div>

<script src="scripts/commercial.js"></script>
<script src="/js/jquery.min.js "></script>
