<div id="juvel">
    <div class="text-center">
        <img class="first-photo-left" id="first-photo-left" src="images/video-thumb/kamen.jpg">
        <img class="first-left" id="first-left" src="images/video-thumb/kamen.jpg">
    </div>
    <div id="first-text-left" class="first-text-left text-left col-md-5">
        <h4 class="video-title"> A handful of stones
        </h4>
        <h5 class="video-under-title"> / short fiction / 2017. / 14min / </h5>
        <h5 class="text-juve video-under-title">Ivica is a 11-year-old who spends his days among friends, roaming around unexplored grounds of an industrial town.
            Bitter and disquieted, he's about to find out that today his parents are separating.
        </h5>
        <h5 class="video-under-title">director: Stefan Ivancic <br> writers: Stefan Djordjevic, Andrijana Stojkovic <br> dop: Stefan Djordjevic
            <br> editors: Dragan von Petrovic, Milena Z. Petrovic <br> production: Film house Kiselo Dete </h5>
    </div>  
</div>
<div id="yourn"> 
    <div class="text-center">
        <img class="first-photo-right" id="first-photo-right" src="images/video-thumb/yuv.jpg">
        <iframe class="first-right" id="first-right" src="https://player.vimeo.com/video/161576539?color=ffffff&byline=0&portrait=0&api=1"
            width="470" height="270" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div id="first-text-right" class="first-text-right text-left col-md-5">
        <h4 class="video-title"> Juvenile </h4>
        <h5 class="video-under-title"> / short documentary / 2016. / 17min /</h5>
        <h5 class="text-juve video-under-title">Juvenile portrays life within a correctional facility for the young adults and children who've been sent there. For
            these young people, who range in age from 14-23, the outside world can recede into an unfamiliar place – particularly
            given that the longest court sentence that can be imposed is four years, a lifetime for any restless young person
            who dreams of freedom.
        </h5>
        <h5 class="video-under-title">director: Jovan Todorovic <br> cinematographers: Stefan Djordjevic, Jovan Todorovc <br> editor: Milena Z. Petrovic
            <br> production: Emote Productions </h5>
    </div>
</div>
<div id="dogran">
    <div class="text-center">
        <img class="second-photo-left" id="second-photo-left" src="images/video-thumb/you.jpg">
        <iframe class="second-left" id="second-left" src="https://player.vimeo.com/video/74464788?color=ffffff&byline=0&portrait=0"
            width="470" height="270" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div id="second-text-left" class="second-text-left text-left col-md-5">
        <h4 class="video-title"> Journey </h4>
        <h5 class="video-under-title"> / short documentary / 2013. / 5min /</h5>
        <h5 class="text-juve video-under-title"> A story about an engine driver who travels the same route for eight hours a day. He doesn't see that route in the
            same way we experience it, because the imagination is the only thing he has in his monotonous surroundings.
        </h5>
        <h5 class="video-under-title"> director, cinematographer, editor: Stefan Djordjevic </h5>
    </div>
</div>
<div id="zasto">
    <div class="text-center">
        <img class="second-photo-right" id="second-photo-right" src="images/video-thumb/dg.jpg">
        <iframe class="second-right" id="second-right" src="https://player.vimeo.com/video/71275114?color=ffffff&byline=0&portrait=0"
            width="470" height="270" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div id="second-text-right" class="second-text-right text-left col-md-5">
        <h4 class="video-title"> To the border </h4>
        <h5 class="video-under-title"> / short fiction / 2013. / 24min / </h5>
        <h5 class="text-juve video-under-title"> A young couple in love, on vacation, spontaneously find themselves in a fantasy in which they pretend that she is
            a hitchhiker and he has picked up along the road. </h5>
        <h5 class="video-under-title "> director: Katarina Mutic <br> written by: Ivan Stancic <br> dop: Stefan Djordjevic <br> editor: Rajko Ristanovic</h5>
    </div>
</div>
<div  id="blato">
    <div class="text-center">
        <img class="t-photo-left" id="t-photo-left" src="images/video-thumb/zvdvs.jpg">
        <iframe class="t-left" id="t-left" width="470" height="270" src="https://www.youtube.com/embed/pg5IEYiBlmM" frameborder="0"
            allowfullscreen></iframe>
    </div>
    <div id="t-text-left" class="t-text-left text-left col-md-5">
        <h4 class="video-title"> Why do i love skateboarding? </h4>
        <h5 class="video-under-title"> / short documentary / 2015. / 15min / </h5>
        <h5 class="text-juve video-under-title"> A short documentary film about the skateboarding generation shift in Bor. The elder ones who established the local
            scene are desparetely trying to pass on their values to the young ones, while they have to keep up with their
            day-to-day grown up life. </h5>
        <h5 class="video-under-title last-text">
            director, cinematographer: Stefan Djordjevic <br> editor: Vanja Kovacevic <br> production: Vice Serbia
        </h5>
    </div>
</div>

<script src="scripts/film.js"></script>
<script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
