<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="David Milosavljević, sodakolor@gmail.com">
    <title>Stefan Djordjevic</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css" />
</head>

<body>

    <div class="container-fluid">
        <div class="row header">
            <div class="col-md-12">
                <h2> STEFAN DJORDJEVIC </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <ul class="navigation">
                    <li> <a id="photography" href="#">PHOTO</a>
                        <ul class="sub-menu-photo">
                            <li> <a href="#"> BOR - When memory was young</a> </li>
                            <li> <a href="#"> KOLOS </a> </li>
                            <li> <a href="#"> CIGANI </a> </li>
                            <li> <a href="#"> JURIS </a> </li>
                        </ul>
                    </li>

                    <li> <a id="video" href="#">VIDEO</a>
                        <ul class="sub-menu-video">
                            <li> <a href="#"> FILM </a> </li>
                            <li> <a href="#"> MUSIC VIDEO </a> </li>
                            <li> <a href="#"> COMMERCIAL </a> </li>
                        </ul>
                    </li>
                    <li> <a id="biography" href="#">BIO</a></li>
                </ul>
            </div>
        </div>
    </div>


    <script src="/js/jquery.min.js "></script>
    <script src="/js/bootstrap.min.js "></script>
    <script src="scripts/main.js"></script>

</body>

</html>