<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="David Milosavljević, sodakolor@gmail.com">
    <title>Stefan Djordjevic </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <div id="name">
        <a id="click-on-name" href="#mains">  <span id="lastname"> Stefan </span> Djordjevic </a>
    </div>
    <div id="rights">
        <h6> &#169; Stefan Djordjevic </h6>
    </div>
    <div>
        <a target="_blank" href="https://vimeo.com/stefandjordjevic"> <img class="soc-icon1" src="images/vimeo.png"></a>
    </div>
    <div>
        <a target="_blank" href="https://www.instagram.com/stefan.j.djordjevic/"> <img class="soc-icon2" src="images/instagram.png"></a>
    </div>
    <div id="see-all-box">
        <img id="see-all" src="images/black-sq.png">
        <h6 id="see-all-text"> See all </h6>
    </div>
    <div class="container-fluid container-margins">
        <div class="row">
            <div class="navbar col-md-2 col-sm-2">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <ul class="navigation">
                    <li> <a id="photography" href="#">PHOTO</a>
                        <ul class="sub-menu-photo">
                            <li> <a id="ko" href="#kolos"> KOLOS </a> </li>
                            <li> <a id="bo" href="#bor"> BOR </a> </li>
                            <li> <a id="ci" href="#juveline"> JUVELINE </a> </li>
                            <li> <a id="ju" href="#paris"> PARIS </a> </li>
                        </ul>
                    </li>

                    <li> <a id="video" href="#">VIDEO</a>
                        <ul class="sub-menu-video">
                            <li> <a id="fi" href="#film"> FILM </a> </li>
                            <li> <a id="mu" href="#music"> MUSIC VIDEO </a> </li>
                            <li> <a id="fo" href="#commercial"> COMMERCIAL </a> </li>
                        </ul>
                    </li>
                    <li id="biography"> <a id="bi" href="#bio">BIO</a></li>
                </ul>
            </div>
            <div id="mains" class="col-md-12 col-sm-12 col-lg-10 text-center">
                <div id="slideshow">
                    <div>
                        <img class="main-page-photo" src="images/pocetna/01.jpg">
                    </div>
                    <div>
                        <img class="main-page-photo" src="images/pocetna/02.jpg">
                    </div>
                    <div>
                        <img class="main-page-photo" src="images/pocetna/03.jpg">
                    </div>
                    <div>
                        <img class="main-page-photo" src="images/pocetna/04.jpg">
                    </div>
                    <div>
                        <img class="main-page-photo" src="images/pocetna/05.jpg">
                    </div>
                    <div>
                        <img class="main-page-photo" src="images/pocetna/06.jpg">
                    </div>
                    <div>
                        <img class="main-page-photo" src="images/pocetna/07.jpg">
                    </div>
                </div>
            </div>
            <div id="kolos" class="col-md-10 col-sm-10 col-lg-10 text-center display-none">
            </div>
            <div id="bor" class="col-md-10 col-sm-10 col-lg-10 text-center display-none">
            </div>
            <div id="juveline" class="col-md-10 col-sm-10 col-lg-10 text-center display-none">
            </div>
            <div id="paris" class="col-md-10 col-sm-10 col-lg-10 text-center display-none">
            </div>
            <div id="film" class="col-md-12 col-sm-12 col-lg-10 display-none">
                <div  class="col-md-6 text-right">
                    <iframe src="https://player.vimeo.com/video/161576539?color=ffffff&byline=0&portrait=0" width="500" height="285" frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>

                <div class="col-md-6 text-left">
                    <iframe src="https://player.vimeo.com/video/74464788?color=ffffff&byline=0&portrait=0" width="500" height="285" frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <div class="col-md-12">
                    <br>
                </div>
                <div class="col-md-6 text-right">
                    <iframe src="https://player.vimeo.com/video/71275114?color=ffffff&byline=0&portrait=0" width="500" height="285" frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <div class="col-md-6 text-left">
                    <iframe width="500" height="285" src="https://www.youtube.com/embed/pg5IEYiBlmM" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div id="music" class="col-md-10 col-sm-10 col-lg-10 text-center display-none">
                <div class="col-md-6 text-right">
                    <iframe src="https://player.vimeo.com/video/188611867?color=ffffff&byline=0&portrait=0" width="500" height="285" frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <div class="col-md-6 text-left">
                    <iframe src="https://player.vimeo.com/video/89496416?color=ffffff&byline=0&portrait=0" width="500" height="285" frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
            <div id="commercial" class="col-md-10 col-sm-10 col-lg-10 text-center display-none">
                <div class="col-md-6 text-right">
                    <iframe src="https://player.vimeo.com/video/212569624?color=ffffff&byline=0&portrait=0" width="500" height="285" frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <div class="col-md-6 text-left">
                    <iframe src="https://player.vimeo.com/video/220273394?color=ffffff&byline=0&portrait=0" width="500" height="285" frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <div class="col-md-12">
                    <br>
                </div>
                <div class="col-md-6 text-right">
                    <iframe src="https://player.vimeo.com/video/218605020?color=ffffff&byline=0&portrait=0" width="500" height="285" frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
            <div id="bio" class="col-md-10 col-sm-10 col-lg-10 text-left display-none">
                <div class="col-md-5 col-md-offset-1 ">
                    <h5 id="text-bio"> Stefan Djordjevic is an independent documentary photographer and director of photography, based in Belgrade,
                        Serbia. He was born in Bor, a small industrial town in East Serbia in 1987. After moving to Belgrade
                        for studying, his main interest switched from skateboarding to film and photography. He graduated
                        cinematography at the Faculty of Dramatic Arts, and is currently working as a freelance director
                        of photography on films, commercials and music videos. <br> <br> His photography deals with human
                        emotion and people’s relation to the space surrounding them, individually or within a group. No matter
                        which media he is using, he is constantly exploring the personal impression of the contemporary socialissues
                        and the stories hidden in the details. <br> <br> <br>
                    </h5>
                    <img id="profile-picture" src="images/stefan.jpg">
                    <h5> <br> <br> stefan.j.djordjevic@gmail.com </h5>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/jquery.min.js "></script>
    <script src="/js/bootstrap.min.js "></script>
    <script src="scripts/main.js"></script>
</body>

</html>