<div id="loader-wrapper2">
        <div id="loader2">
            <div id="box2"></div>
            <div id="hill2"></div>
        </div>
    </div>
<div id="carousel-bounding-box3">
    <div class="carousel slide carousel-fade" id="myCarousel2">
        <div class="carousel-inner">
            <div class="active item" data-slide-number="0">
                <img class="main-page-photo" src="images/juveline/01.jpg"></div>

            <div class="item" data-slide-number="1">
                <img class="main-page-photo" src="images/juveline/02.jpg"></div>
            <div class="item" data-slide-number="2">
                <img class="main-page-photo" src="images/juveline/03.jpg"></div>
            <div class="item" data-slide-number="3">
                <img class="main-page-photo" src="images/juveline/04.jpg"></div>
            <div class="item" data-slide-number="4">
                <img class="main-page-photo" src="images/juveline/05.jpg"></div>
            <div class="item" data-slide-number="5">
                <img class="main-page-photo" src="images/juveline/06.jpg"></div>
            <div class="item" data-slide-number="6">
                <img class="main-page-photo" src="images/juveline/07.jpg"></div>
            <div class="item" data-slide-number="7">
                <img class="main-page-photo" src="images/juveline/08.jpg"></div>
            <div class="item" data-slide-number="8">
                <img class="main-page-photo" src="images/juveline/09.jpg"></div>
            <div class="item" data-slide-number="9">
                <img class="main-page-photo" src="images/juveline/10.jpg"></div>
            <div class="item" data-slide-number="10">
                <img class="main-page-photo" src="images/juveline/11.jpg"></div>
            <div class="item" data-slide-number="11">
                <img class="main-page-photo" src="images/juveline/12.jpg"></div>
            <div class="item" data-slide-number="12">
                <img class="main-page-photo" src="images/juveline/13.jpg"></div>
            <div class="item" data-slide-number="13">
                <img class="main-page-photo" src="images/juveline/14.jpg"></div>
            <div class="item" data-slide-number="14">
                <img class="main-page-photo" src="images/juveline/15.jpg"></div>
            <div class="item" data-slide-number="15">
                <img class="main-page-photo" src="images/juveline/16.jpg"></div>
            <div class="item" data-slide-number="16">
                <img class="main-page-photo" src="images/juveline/17.jpg"></div>
            <div class="item" data-slide-number="17">
                <img class="main-page-photo" src="images/juveline/18.jpg"></div>
            <div class="item" data-slide-number="18">
                <img class="main-page-photo" src="images/juveline/19.jpg"></div>
            <div class="item" data-slide-number="19">
                <img class="main-page-photo" src="images/juveline/20.jpg"></div>
            <div class="item" data-slide-number="20">
                <img class="main-page-photo" src="images/juveline/21.jpg"></div>
            <div class="item" data-slide-number="21">
                <img class="main-page-photo" src="images/juveline/22.jpg"></div>
            <div class="item" data-slide-number="22">
                <img class="main-page-photo" src="images/juveline/23.jpg"></div>
            <div class="item" data-slide-number="23">
                <img class="main-page-photo" src="images/juveline/24.jpg"></div>
            <div class="item" data-slide-number="24">
                <img class="main-page-photo" src="images/juveline/25.jpg"></div>
            <div class="item" data-slide-number="25">
                <img class="main-page-photo" src="images/juveline/26.jpg"></div>
            <div class="item" data-slide-number="26">
                <img class="main-page-photo" src="images/juveline/27.jpg"></div>
            <div class="item" data-slide-number="27">
                <img class="main-page-photo" src="images/juveline/28.jpg"></div>
            <div class="item" data-slide-number="28">
                <img class="main-page-photo" src="images/juveline/29.jpg"></div>
            <div class="item" data-slide-number="29">
                <img class="main-page-photo" src="images/juveline/30.jpg"></div>
        </div>
        <a class="left carousel-control juv-cc" href="#myCarousel2" role="button" data-slide="prev">
            </a>
        <a class="right carousel-control juv-cc" href="#myCarousel2" role="button" data-slide="next">
            </a>
    </div>
</div>
<div class="col-md-11" id="slider-thumbs3">
    <ul class="hide-bullets">
        <li class="col-sm-2">
            <a class="thumbnail" id="carousel-selector-0">
                <img src="images/juveline-min/01.jpg">
            </a>
        </li>
        <li class="col-sm-2">
            <a class="thumbnail" id="carousel-selector-1"><img src="images/juveline-min/02.jpg"></a>
        </li>
        <li class="col-sm-2">
            <a class="thumbnail" id="carousel-selector-2"><img src="images/juveline-min/03.jpg"></a>
        </li>
        <li class="col-sm-2">
            <a class="thumbnail" id="carousel-selector-3"><img src="images/juveline-min/04.jpg"></a>
        </li>
        <li class="col-sm-2">
            <a class="thumbnail" id="carousel-selector-4"><img src="images/juveline-min/05.jpg"></a>
        </li>
        <li class="col-sm-2">
            <a class="thumbnail" id="carousel-selector-5"><img src="images/juveline-min/06.jpg"></a>
        </li>
        <li class="col-sm-2">
            <a class="thumbnail" id="carousel-selector-6"><img src="images/juveline-min/07.jpg"></a>
        </li>
        <li class="col-sm-2">
            <a class="thumbnail" id="carousel-selector-7"><img src="images/juveline-min/08.jpg"></a>
        </li>
        <li class="col-sm-2">
            <a class="thumbnail" id="carousel-selector-8"><img src="images/juveline-min/09.jpg"></a>
        </li>
        <li class="col-sm-2">
            <a class="thumbnail" id="carousel-selector-9"><img src="images/juveline-min/10.jpg"></a>
        </li>
        <li class="col-sm-2">
            <a class="thumbnail" id="carousel-selector-10"><img src="images/juveline-min/11.jpg"></a>
        </li>
        <li class="col-sm-2">
            <a class="thumbnail" id="carousel-selector-11"><img src="images/juveline-min/12.jpg"></a>
        </li>
        <li class="col-sm-2">
            <a class="thumbnail" id="carousel-selector-12"><img src="images/juveline-min/13.jpg"></a>
        </li>
        <li class="col-sm-2">
            <a class="thumbnail" id="carousel-selector-13"><img src="images/juveline-min/14.jpg"></a>
        </li>
        <li class="col-sm-2">
            <a class="thumbnail" id="carousel-selector-14"><img src="images/juveline-min/15.jpg"></a>
        </li>
        <li class="col-sm-2">
            <a class="thumbnail" id="carousel-selector-15"><img src="images/juveline-min/16.jpg"></a>
        </li>
        <li class="col-sm-2">
            <a class="thumbnail" id="carousel-selector-16"><img src="images/juveline-min/17.jpg"></a>
        </li>
        <li class="col-sm-2">
            <a class="thumbnail" id="carousel-selector-17"><img src="images/juveline-min/18.jpg"></a>
        </li>
        <li class="col-sm-2">
            <a class="thumbnail" id="carousel-selector-18"><img src="images/juveline-min/19.jpg"></a>
        </li>
        <li class="col-sm-2">
            <a class="thumbnail" id="carousel-selector-19"><img src="images/juveline-min/20.jpg"></a>
        </li>
        <li class="col-sm-2">
            <a class="thumbnail" id="carousel-selector-20"><img src="images/juveline-min/21.jpg"></a>
        </li>
        <li class="col-sm-2">
            <a class="thumbnail" id="carousel-selector-21"><img src="images/juveline-min/22.jpg"></a>
        </li>
        <li class="col-sm-2">
            <a class="thumbnail" id="carousel-selector-22"><img src="images/juveline-min/23.jpg"></a>
        </li>
        <li class="col-sm-2">
            <a class="thumbnail" id="carousel-selector-23"><img src="images/juveline-min/24.jpg"></a>
        </li>
        <li class="col-sm-2">
            <a class="thumbnail" id="carousel-selector-24"><img src="images/juveline-min/25.jpg"></a>
        </li>
        <li class="col-sm-2">
             <a class="thumbnail" id="carousel-selector-25"><img src="images/juveline-min/26.jpg"></a>
        </li>
        <li class="col-sm-2">
            <a class="thumbnail" id="carousel-selector-26"><img src="images/juveline-min/27.jpg"></a>
        </li>
        <li class="col-sm-2">
            <a class="thumbnail" id="carousel-selector-27"><img src="images/juveline-min/28.jpg"></a>
        </li>
        <li class="col-sm-2">
            <a class="thumbnail" id="carousel-selector-28"><img src="images/juveline-min/29.jpg"></a>
        </li>
        <li class="col-sm-2">
            <a class="thumbnail" id="carousel-selector-29"><img src="images/juveline-min/30.jpg"></a>
        </li>
    </ul>
    <div id="test" class="col-lg-10 col-md-12 col-sm-12 col-lg-offset-1">
        <h5 class="margins-juve">
            I first came to juvenile detention center "Kruška" in Kruševac for a documentary film I was working on. Male and female residents
            of educational-correctional home are aged from 14 to 23 years old. Their time in the home varies from six months
            up to four years, because the time is not predetermined when the verdict is passed – they are on a constant psychological
            evaluation. The state grants them release only when it is certain that their moral values have taken the right
            turn, and they are prepared to be integrated back into society. Inside, they are divided among themselves in
            different groups, but there is also a number of those who try to keep to themselves, to serve their time, and
            get out. One of the minors there was sentenced to time in Kruška for drunken driving, which led to an accident,
            and his brother’s death. Never before was he involved in anything on the other side of the law. I liked going
            there, spending time with them, and at most times I felt uncomfortable telling them. Because I knew they wished
            they were anywhere but inside those walls. 
        </h5>
    </div>
</div>

<script src="scripts/juveline.js"></script>