<div id="tata" class="text-center">
    <img class="first-photo-left1" id="first-photo-left1" src="images/video-thumb/stra.jpg">
    <iframe class="first-left" id="first-left" src="https://player.vimeo.com/video/188611867?color=ffffff&byline=0&portrait=0"
        width="470" height="270" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <h5 id="first-text-left" class="first-text-left"> Stray Dogg - Away </h5>
</div>
<div id="mata" class="text-center">
    <img class="first-photo-right" id="first-photo-right" src="images/video-thumb/wah.jpg">
    <iframe class="first-right" id="first-right" src="https://player.vimeo.com/video/89496416?color=ffffff&byline=0&portrait=0"
        width="470" height="270" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <h5 id="first-text-right" class="first-text-right"> Threesome - Wahine </h5>
</div>


<script src="scripts/music.js"></script>
<script src="/js/jquery.min.js "></script>