<div id="tata">
    <div class="text-center">
        <img class="first-photo-left1" id="first-photo-left1" src="images/video-thumb/stra.jpg">
        <iframe class="first-left1" id="first-left1" src="https://player.vimeo.com/video/188611867?color=ffffff&byline=0&portrait=0"
            width="470" height="270" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div id="first-text-left1" class="first-text-left1 text-left">
        <h4 class="video-title"> Stray Dogg - Away </h4>
        <h5 class="video-under-title">director, dop, editor: Stefan Djordjevic <br> producer: Dusan Strajnic </h5>
    </div>
</div>
<div id="mata">
    <div class="text-center">
        <img class="first-photo-right1" id="first-photo-right1" src="images/video-thumb/wah.jpg">
        <iframe class="first-right1" id="first-right1" src="https://player.vimeo.com/video/89496416?color=ffffff&byline=0&portrait=0"
            width="470" height="270" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div id="first-text-right1" class="first-text-right1 text-left col-md-5">
        <h4 class="video-title" > Threesome - Wahine </h4>
        <h5 class="video-under-title last-text">
            director, dop, editor: Stefan Djordjevic
        </h5>
    </div>
</div>


<script src="scripts/music.js"></script>
<script src="/js/jquery.min.js "></script>
