<div class="row">
    <div id="stray" class="col-lg-6 text-right ">
        <iframe  src="https://player.vimeo.com/video/188611867?color=ffffff&byline=0&portrait=0" width="450" height="270"
            frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div id="threesome" class="col-lg-6 text-left ">
        <iframe src="https://player.vimeo.com/video/89496416?color=ffffff&byline=0&portrait=0" width="450" height="270" frameborder="0"
            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</div>

<script src="scripts/music.js"></script>