
@font-face {
    font-family: Font1;
    src:url('/fonts/Rajdhani-Regular.woff') format('woff')
}
.carousel .right:hover {
    cursor: url("../images/next.png"), default !important;
 }
 .carousel .right:active {
    cursor: url("../images/next.png"), default !important;
 }
 .carousel .right:visited {
    cursor: url("../images/next.png"), default !important;
 }
 
 .carousel .left:hover {
   cursor: url("../images/back.png"), default !important
 }
 .carousel .left:active {
    cursor: url("../images/back.png"), default !important
  }
  .carousel .left:visited {
    cursor: url("../images/back.png"), default !important
  }

 img:hover {
    cursor: default !important;
 }

.navbar {
    margin-top: 160px;
    position:static;
}
#film {
    position: static;
}
body {
    font-family: Font1;
}
#lastname {
    color: black;
}
a { 
    text-decoration: none;
    color: gray;
}

li {
    text-decoration: none;
}
ul {
    list-style: none;
}

a:active , a:hover {
    text-decoration: none;
    color: gray;
}

.sub-menu-photo , .sub-menu-video {
    display:none;
}


#line {
    height: 100px
}


#name {
    position: absolute;
    left: 55px;
}

.display-none {
    display: none;
}

a:focus {
     text-decoration: none;
}

#click-on-name {
    font-size: 25px;
}

.sub-menu-photo a:focus , .sub-menu-video a:focus , photography a:focus , video a:focus , bio a:focus{
    color: black;
}

#rights{
    left: 55px;
    position: absolute;
}

.soc-icon1 {
    width: 14px;
    position: absolute;
    left: 160px;
}
.soc-icon2 {
    width: 14px;
    position: absolute;
    left: 180px;
}

a:visited {
    color:grey;
}

/* Carousel */

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
}
.thumbnail:hover {
    cursor: pointer;    
}

#slider-thumbs1 , #slider-thumbs2 , #slider-thumbs3 , #slider-thumbs4 {
    display: none;
}



#see-all {
    position: absolute;
    left: 55px;
  
    width: 14px;
    display: none;
}
#see-all-text {
    position: absolute;
    left: 76px;
    display:none;
}

#see-all-box:hover {
 cursor: pointer;
}

#profile-picture {
    width: 200px;
}

ul,li {
font-size: 15px;
}

#text-bio {
    text-align: justify;
    text-justify: inter-word;
} 

.margin {
    margin-left: -20px;
}

.controls {
    display:none;
}

.play , .rounded-box , .state-paused {
    display: block;
}

#mains {
    overflow: hidden !important;
}

.thumbnail:hover {
    opacity: 0.7;
}

.thumbnail {
  width: 150px;
}

/* smartphones, iPhone, portrait 480x320 phones */ 
@media (min-width:320px)  { 

}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px)  {  

}


 /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media (min-width:641px)  {

}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  {  

}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {  
    .margins {
        font-size: 35px !important;
        margin-right:50px;
        margin-bottom:150px;
    }
    .video-under-title {
        font-size: 25px;
    }
    .last-text {
        margin-bottom: 200px;
    }
    .video-title {
        font-size: 30px;
    }
    .slideshow-photos {
        width: 900px !important;
    }
    .thumbnail {
        width: 130px;
      }
    .hide-bullets {
        margin-left: -40px;
    }
    .navbar {
    margin-top: 120px;
    }
    #rights{
        left: 55px;
        position: absolute;
    }
    #position-fixed {
        position: fixed;
        height: 150px;
        bottom: 0px;
        width: 100%;
        background: white;
        z-index: 1001;
    }
    #rights-text{
       font-size: 30px;
    }
    #see-all {
        position: absolute;
        left: 850px;
        width: 45px;
        display: none;
    }
    #see-all-text {
        font-size: 30px;
        position: absolute;
        left: 750px;
        display:none;
    }
    .soc-icon1 {
        width: 32px;
        position: absolute;
        left: 310px;
    }
    .soc-icon2 {
        width: 32px;
        position: absolute;
        left: 360px;
    } 
    .margin , #photography , #biography , #video{
        font-size: 35px !important;
    }
    #bio {
        text-align: center;
        margin-top: 100px;
    }
    #text-bio , #mail {
        font-size: 30px
    }
    #slideshow {
        margin-top: 100px;
    }
    #click-on-name {
        font-size: 40px;
    }
    .margins-juve {
       font-size: 35px;
       margin-left: 0 !important;
       margin-bottom: 150px;
    }


}

/* hi-res laptops and desktops */
@media (min-width:1600px) {  
    .thumbnail {
        width: 170px;
     }
    }

@media (min-width:1918px) {  
     .thumbnail {
        width: 170px;
     }
    }


.first-left { 
    position: absolute;
    width: 470px;
    height: 250px;
}

.first-photo-left { 
    position: absolute;
    width: 470px;
    height: 250px;
    z-index: 1000;
}

.first-right { 
    position: absolute;
    width: 470px;
    height: 250px;
}

.first-photo-right {
    position: absolute;
    width: 470px;
    height: 250px;
    z-index: 1000;
}

.second-left { 
    position: absolute;
    width: 470px;
    height: 250px;
}

.second-photo-left { 
    position: absolute;
    width: 470px;
    height: 250px;
    z-index: 1000;
}
.t-left { 
    position: absolute;
    width: 470px;
    height: 250px;
}

.t-photo-left { 
    position: absolute;
    width: 470px;
    height: 250px;
    z-index: 1000;
}

.second-right { 
    position: absolute;
    width: 470px;
    height: 250px;
}

.second-photo-right {
    position: absolute;
    width: 470px;
    height: 250px;
    z-index: 1000;
}



#first-text-left {
    position: absolute;
}
#first-text-right {
    position: absolute;
}
#second-text-left {
    position: absolute;
}
#second-text-right {
    position: absolute;
}
#t-text-left {
    position: absolute;
}
.text-juve {
    text-align: justify;
    text-justify: inter-word;
}

.col-md-5 {
    border: 0;
    padding: 0;
    margin: 0;
    width: 470px;
}
.margins {
    margin-left: 35px;
}

.first-left1 { 
    position: absolute;
    width: 470px;
    height: 250px;
}

.first-photo-left1 { 
    position: absolute;
    width: 470px;
    height: 250px;
    z-index: 1000;
}

.first-right1 { 
    position: absolute;
    width: 470px;
    height: 250px;
}

.first-photo-right1 {
    position: absolute;
    width: 470px;
    height: 250px;
    z-index: 1000;
}

.second-left1 { 
    position: absolute;
    width: 470px;
    height: 250px;
}

.second-photo-left1 { 
    position: absolute;
    width: 470px;
    height: 250px;
    z-index: 1000;
}

.second-right1 { 
    position: absolute;
    width: 470px;
    height: 250px;
}

.second-photo-right1 {
    position: absolute;
    width: 470px;
    height: 250px;
    z-index: 1000;
}



#first-text-left1 {
    position: absolute;
}
#first-text-right1 {
    position: absolute;
}
#second-text-left2 {
    position: absolute;
}
#second-text-right2{
    position: absolute;
}

.second-left2 { 
    position: absolute;
    width: 470px;
    height: 250px;
}

.second-photo-left2 { 
    position: absolute;
    width: 470px;
    height: 250px;
    z-index: 1000;
}

.second-right2 { 
    position: absolute;
    width: 470px;
    height: 250px;
}

.second-photo-right2 {
    position: absolute;
    width: 470px;
    height: 250px;
    z-index: 1000;
}

#second-text-left2 {
    position: absolute;
}
#second-text-right2 {
    position: absolute;
}

.margins-juve {
    margin-left: 45px;
}

.f-left { 
    position: absolute;
    width: 470px;
    height: 250px;
}

.f-photo-left { 
    position: absolute;
    width: 470px;
    height: 250px;
    z-index: 1000;
}

.f-right { 
    position: absolute;
    width: 470px;
    height: 250px;
}

.f-photo-right {
    position: absolute;
    width: 470px;
    height: 250px;
    z-index: 1000;
}

#f-text-left {
    position: absolute;
}
#f-text-right {
    position: absolute;
}

.double {
    height: 208px;
}