@font-face {
    font-family: Font1;
    src:url('/fonts/Rajdhani-Regular.woff') format('woff')
}

.navbar {
    margin-top: 55px;
}
body {
    font-family: Font1;
}
#lastname {
    color: black;
}
a { 
    text-decoration: none;
    color: gray;
}

li {
    text-decoration: none;
}
ul {
    list-style: none;
}

a:active , a:hover {
    text-decoration: none;
    color: gray;
}

.sub-menu-photo , .sub-menu-video {
    display:none;
}


#line {
    height: 100px
}

.main-page-photo {
   width: 1000px;
}

#name {
    position: absolute;
    left: 55px;
}

.display-none {
    display: none;
}

a:focus {
     text-decoration: none;
}

#click-on-name {
    font-size: 25px;
}

.sub-menu-photo a:focus , .sub-menu-video a:focus , photography a:focus , video a:focus , bio a:focus{
    color: black;
}

#rights{
    left: 55px;
    position: absolute;
}

.soc-icon1 {
    width: 14px;
    position: absolute;
    left: 160px;
}
.soc-icon2 {
    width: 14px;
    position: absolute;
    left: 180px;
}

a:visited {
    color:grey;
}

/* Carousel */

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
}
.thumbnail:hover {
    cursor: pointer;    
}

#slider-thumbs1 , #slider-thumbs2 , #slider-thumbs3 , #slider-thumbs4 {
    display: none;
}

.carousel .right:hover {
   cursor: url("../images/next.png"), default !important;
}

.carousel .left:hover {
  cursor: url("../images/back.png"), default !important
}

#see-all {
    position: absolute;
    left: 55px;
  
    width: 14px;
    display: none;
}
#see-all-text {
    position: absolute;
    left: 76px;
    display:none;
}

#see-all-box:hover {
 cursor: pointer;
}

.main-page-photo-height {
    width: 430px;
}

.thumb-wid {
    width: 50px;
}

#profile-picture {
    width: 200px;
}

ul,li {
font-size: 15px;
}

#text-bio {
    text-align: justify;
    text-justify: inter-word;
} 

li {
    margin-left: -20px;
}

.navigation {
    margin-left: 20px;
}

.controls {
    display:none;
}

.play , .rounded-box , .state-paused {
    display: block;
}